<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>
  <div class="box">
    <div class="main-content-detail">
      <div class="list-post">
        <div class="ui fluid card">
          <div class="content">
            <div class="right floated meta" data-timeago="<%= post.datePost %>"><%= moment(post.datePost).fromNow() %></div>
            <img class="ui avatar image" src="<%= post.owner.image %>"> <%= post.owner.fullname %> 
          </div>
          <div class="image">
            <img src="/static/images/posts/<%= post.image %>">
          </div>
          <div class="content" style="font-size: 13px;">
            <span class="right floated">
              <a class="ui mini black basic button" href="/post/<%= post._id %>/view">
                <i class="comment icon"></i> Hiện tại có
                <% if(post.comments.length == 0) { %>
                  0
                <% } else { %>
                  <%= post.comments.length %> 
                <% } %> bình luận
              </a>
            </span>
              <button class="ui mini primary basic icon button" id="likeaction">
                <input type="text" id="post_id" name="post_id" value="<%= post._id %>" hidden>
                <i class="thumbs up outline icon"></i> 
                <% if(post.likes.length == 0) { %>
                  <span id="likecount">0</span>
                <% } else { %>
                  <span id="numberLikes"><%= post.likes.length %> </span>
                <% } %>
                </button>
          </div>
         <div class="list-comment">
          <% if(post.comments.length == 0) { %>
            <p class="txt-center">Hãy là người dầu tiên bình luận!</p>
          <% } else { %>
            <% post.comments.forEach((comment) => { %>
              <div class="content" id="content-commment">
                <a href="#"><img class="ui avatar image" src="<%= post.owner.image %>"> <span><%= comment.fullname %></span></a>: 
                <span id="comment-body"><%= comment.comment %> </span>
              </div>
            <% }) %>  
          <% } %> 
         </div>
          <div class="extra content">
           <form action="/post/comment" method="POST">
            <div class="ui fluid transparent action input">
              <input type="text" name="comment" placeholder="Thêm bình luận">
              <input type="text" name="postid" value="<%= post._id %>" hidden>
              <button type="submit" class="ui icon button">
                <i class="comment icon"></i>
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="/static/javascript/like.js"></script>
<%- include('../partials/footer') %>