<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>
      <div class="box">
        <div class="main-content">
          <%- include('../post/newpost') %>
          <%- include('../post/listpost') %>
        </div>
        <div class="sidebar-right">
          <div class="follower"></div>
        </div>
      </div>
<%- include('../partials/footer') %>
